.cardlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 38px;
    margin: 0 auto;
    padding: 70px 0 10px;
    max-width: 1140px;
    background-color: #202020;
}

@media screen and (max-width: 1170px) {
    .cardlist {
        grid-template-columns: repeat(3, 1fr);
        max-width: 718px;
    }
}

@media screen and (max-width: 850px) {
    .cardlist {
        grid-template-columns: repeat(2, 1fr);
        max-width: 768px;
        padding: 70px 10px;
        column-gap: 30px;
        row-gap: 33px;
    }
}

@media screen and (max-width: 740px) {
    .cardlist {
        grid-template-columns: repeat(1, 1fr);
        max-width: 300px;
        margin: 0 auto;
        padding: 40px 0 10px;
    }
}