.promo {
    background: #073042;
    padding-top: 50px;
    position: relative;
    padding-bottom: 304px;
}

.promo__image {
    width: 722px;
    height: 244px;
    right: 70px;
    position: absolute;
}

.promo__container {
    display: flex;
    justify-content: flex-end;
}

.promo__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 126%;
    margin: 0;
    padding-left: 70px;
    padding-bottom: 100px;
    max-width: 630px;
    color: #FFFFFF;
}

@media screen and (max-width: 850px) {
    .promo {
        padding-top: 300px;
        padding-bottom: 300px;
    }

    .promo__image {
        width: 680px;
        height: 230px;
        right: 44px;
    }

    .promo__title {
        text-align: center;
        max-width: 680px;
        padding-left: 44px;
        padding-right: 44px;
    }
}

@media screen and (max-width: 740px) {
    .promo {
        padding-top: 210px;
    }

    .promo__title {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 31px;
        margin: auto;
    }

    .promo__image {
        top: 390px;
        right: 10px;
    }
}

@media screen and (max-width: 500px) {
    .promo {
        padding-bottom: 270px;
    }

    .promo__image {
        right: -60px;
        top: 430px;
    }
}