.profile-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 410px;
    margin: 0 auto;
}

.profile-form__username {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    margin: 0;
    padding-bottom: 123px;
    padding-top: 74px;
}

.profile-form__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-form__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    padding-bottom: 16px;
    width: 410px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #424242;
}

.profile-form__label:last-of-type {
    padding-top: 17px;
    border-bottom: none;
}

.profile-form__input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    text-align: right;
    background: #202020;
    color: #FFFFFF;
    width: 80%;
    border: none;
    transition: opacity .4s linear;
    transition: border-bottom .4s linear;
    cursor: pointer;
}

.profile-form__input:focus {
    outline: none;
    border-bottom: 1px solid #4285f4;
}

.profile-form__input:hover {
    opacity: .5;
}

.profile-form__button {
    border: none;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    margin-top: 220px;
    color: #FFFFFF;
    transition: opacity .4s linear;
    cursor: pointer;
}

.profile-form__button:hover {
    opacity: .4;
}

.profile-form__exit {
    border: none;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    margin-top: 16px;
    margin-bottom: 70px;

    color: #EE3465;
    transition: opacity .4s linear;
    cursor: pointer;
}

.profile-form__exit:hover {
    opacity: .4;
}

@media screen and (max-width: 440px) {
    .profile-form {
        max-width: 260px;
    }

    .profile-form__label {
        width: 260px;
    }
}